<nav class="nav-main">
  <button class="nav-main-toggle">
    Menu
  </button>
  <div class="nav-main-panel">
    <div class="nav-main-panel-header">
      <button class="nav-main-close">
        Close
      </button>
    </div>

    <ul class="nav-main-list">
      <li>
        <a class="nav-main-item" href="">help</a>
      </li>
      <li>
        <a class="nav-main-item" href="">cart</a>
      </li>
      <li>
        <a class="nav-main-item" href="">register</a>
      </li>
      <li>
        <a class="nav-main-item" href="">log in</a>
      </li>
    </ul>
  </div>

</nav>