<header class="t-background-top">
  <div class="main-header">
    <div class="masthead">
      <a href="/"><img src="http://register.webcastcloud.com.au/smithink/VideoChannel/smithink-logo-header.png" alt="" class="logo"></a>
    </div>
    {{> @main-nav }}
  </div>
</header>