

<ul class="card-list card-list--large">
  <li class="card-list-item">
    <div class="card t-background-light">
      
      <div class="card-header">
        <div class="card-image">
          <img src="http://fillmurray.com/301/168" alt="">
          <div class="card-image-overlay">
            <div class="card-price">
              <span class="h2"></span>
            </div>
              <span class="label">Delegate Price $20</span>
          </div>
          <div class="card-image-overlay--bottom">
            <div class="card-status">
             <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lock"></use></svg>
            </div>
          </div>
          <time class="card-duration">
            31.24
          </time>
        </div>
      </div>
      <div class="card-body">
        <h2 class="card-heading t-text-main">Darkingjung Barker: a lesson in closing the education gap</h2>
        <h4 class="card-subheading t-text-secondary">Phillip Heath, Head of Barker College, Barker College</h4>
        <time class="card-date t-text-secondary">
          9/06/2017
        </time>
        <a href="#" class="card-link"></a>
      </div>
      <div class="card-footer">
        <div class="card-footer-left">
          <a href="" class="button small">Add to Cart</a>
        </div>
        <div class="card-footer-right" >
            <button class="icon-button">
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#playlist-add"></use></svg>
              <span class="show-for-sr">add to playlist</span>
            </button>
            <button class="icon-button" data-toggle="slider">
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#info"></use></svg>
              <span class="show-for-sr">more info</span>
            </button>
        </div>
      </div>
      <div class="card-slider">
        <div class="card-slider-header">
          <h4 class="small-heading">Darkingjung Barker: a lesson in closing the education gap</h4>
        </div>
        <div class="card-details">
          You understand the need to change and some of your leadership team may even want to change. However, as we all know, there is a big gap between desire and action.
    Achieving accelerated growth in a way that is sustainable and scalable requires the right structure, systems, infrastructure (technology) and execution.
    In this session, Sam Dean will go beyond the concepts to provide practical insights on how to reconstruct your offering using the right technology with the right process to become a truly client-centric advice business (and along the way have a lot more fun).
    With real case studies and an action plan to take away, this is one session you can’t miss. 
        </div>
      </div>
    </div>  </li>
  <li class="card-list-item">
    <div class="card t-background-light">
      
      <div class="card-header">
        <div class="card-image">
          <img src="http://fillmurray.com/341/197" alt="">
          <div class="card-image-overlay">
            <div class="card-price">
              <span class="h2"></span>
            </div>
              <span class="label">Delegate Price $20</span>
          </div>
          <div class="card-image-overlay--bottom">
            <div class="card-status">
             <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lock"></use></svg>
            </div>
          </div>
          <time class="card-duration">
            31.24
          </time>
        </div>
      </div>
      <div class="card-body">
        <h2 class="card-heading t-text-main">Clean Water for every child, benefits all</h2>
        <h4 class="card-subheading t-text-secondary">Rez Haremi, EssentialNeed.org</h4>
        <time class="card-date t-text-secondary">
          9/06/2017
        </time>
        <a href="#" class="card-link"></a>
      </div>
      <div class="card-footer">
        <div class="card-footer-left">
          <a href="" class="button small">Add to Cart</a>
        </div>
        <div class="card-footer-right" >
            <button class="icon-button">
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#playlist-add"></use></svg>
              <span class="show-for-sr">add to playlist</span>
            </button>
            <button class="icon-button" data-toggle="slider">
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#info"></use></svg>
              <span class="show-for-sr">more info</span>
            </button>
        </div>
      </div>
      <div class="card-slider">
        <div class="card-slider-header">
          <h4 class="small-heading">Clean Water for every child, benefits all</h4>
        </div>
        <div class="card-details">
          You understand the need to change and some of your leadership team may even want to change. However, as we all know, there is a big gap between desire and action.
    Achieving accelerated growth in a way that is sustainable and scalable requires the right structure, systems, infrastructure (technology) and execution.
    In this session, Sam Dean will go beyond the concepts to provide practical insights on how to reconstruct your offering using the right technology with the right process to become a truly client-centric advice business (and along the way have a lot more fun).
    With real case studies and an action plan to take away, this is one session you can’t miss. 
        </div>
      </div>
    </div>  </li>
  <li class="card-list-item">
    <div class="card t-background-light">
      
      <div class="card-header">
        <div class="card-image">
          <img src="http://fillmurray.com/300/165" alt="">
          <div class="card-image-overlay">
            <div class="card-price">
              <span class="h2"></span>
            </div>
              <span class="label">Free to View </span>
          </div>
          <div class="card-image-overlay--bottom">
            <div class="card-status">
             <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lock"></use></svg>
            </div>
          </div>
          <time class="card-duration">
            31.24
          </time>
        </div>
      </div>
      <div class="card-body">
        <h2 class="card-heading t-text-main">Physical education: under prioritised and our children pay the price</h2>
        <h4 class="card-subheading t-text-secondary">Prof. Richard Telford, AM, Lifestyle of our Kids (LOOK)</h4>
        <time class="card-date t-text-secondary">
          9/06/2017
        </time>
        <a href="#" class="card-link"></a>
      </div>
      <div class="card-footer">
        <div class="card-footer-left">
          <a href="" class="button small">Watch Now</a>
        </div>
        <div class="card-footer-right" >
            <button class="icon-button">
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#playlist-add"></use></svg>
              <span class="show-for-sr">add to playlist</span>
            </button>
            <button class="icon-button" data-toggle="slider">
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#info"></use></svg>
              <span class="show-for-sr">more info</span>
            </button>
        </div>
      </div>
      <div class="card-slider">
        <div class="card-slider-header">
          <h4 class="small-heading">Physical education: under prioritised and our children pay the price</h4>
        </div>
        <div class="card-details">
          You understand the need to change and some of your leadership team may even want to change. However, as we all know, there is a big gap between desire and action.
    Achieving accelerated growth in a way that is sustainable and scalable requires the right structure, systems, infrastructure (technology) and execution.
    In this session, Sam Dean will go beyond the concepts to provide practical insights on how to reconstruct your offering using the right technology with the right process to become a truly client-centric advice business (and along the way have a lot more fun).
    With real case studies and an action plan to take away, this is one session you can’t miss. 
        </div>
      </div>
    </div>  </li>
  <li class="card-list-item">
    <div class="card t-background-light">
      
      <div class="card-header">
        <div class="card-image">
          <img src="http://fillmurray.com/301/169" alt="">
          <div class="card-image-overlay">
            <div class="card-price">
              <span class="h2"></span>
            </div>
              <span class="label">Delegate Price $20</span>
          </div>
          <div class="card-image-overlay--bottom">
            <div class="card-status">
             <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lock"></use></svg>
            </div>
          </div>
          <time class="card-duration">
            31.24
          </time>
        </div>
      </div>
      <div class="card-body">
        <h2 class="card-heading t-text-main">Solving problems that Matter with future-focused learning</h2>
        <h4 class="card-subheading t-text-secondary">Lee Crockett, President, Global Digital Citizen Foundation</h4>
        <time class="card-date t-text-secondary">
          9/06/2017
        </time>
        <a href="#" class="card-link"></a>
      </div>
      <div class="card-footer">
        <div class="card-footer-left">
          <a href="" class="button small">Add to Cart</a>
        </div>
        <div class="card-footer-right" >
            <button class="icon-button">
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#playlist-add"></use></svg>
              <span class="show-for-sr">add to playlist</span>
            </button>
            <button class="icon-button" data-toggle="slider">
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#info"></use></svg>
              <span class="show-for-sr">more info</span>
            </button>
        </div>
      </div>
      <div class="card-slider">
        <div class="card-slider-header">
          <h4 class="small-heading">Solving problems that Matter with future-focused learning</h4>
        </div>
        <div class="card-details">
          You understand the need to change and some of your leadership team may even want to change. However, as we all know, there is a big gap between desire and action.
    Achieving accelerated growth in a way that is sustainable and scalable requires the right structure, systems, infrastructure (technology) and execution.
    In this session, Sam Dean will go beyond the concepts to provide practical insights on how to reconstruct your offering using the right technology with the right process to become a truly client-centric advice business (and along the way have a lot more fun).
    With real case studies and an action plan to take away, this is one session you can’t miss. 
        </div>
      </div>
    </div>  </li>
  <li class="card-list-item">
    <div class="card t-background-light">
      
      <div class="card-header">
        <div class="card-image">
          <img src="http://fillmurray.com/302/185" alt="">
          <div class="card-image-overlay">
            <div class="card-price">
              <span class="h2"></span>
            </div>
              <span class="label">Delegate Price $20</span>
          </div>
          <div class="card-image-overlay--bottom">
            <div class="card-status">
             <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lock"></use></svg>
            </div>
          </div>
          <time class="card-duration">
            31.24
          </time>
        </div>
      </div>
      <div class="card-body">
        <h2 class="card-heading t-text-main">A matter of difference: How to foster Inclusion</h2>
        <h4 class="card-subheading t-text-secondary">Najla Turk, Diversity and Inclusion Consultant, ConnEQt</h4>
        <time class="card-date t-text-secondary">
          9/06/2017
        </time>
        <a href="#" class="card-link"></a>
      </div>
      <div class="card-footer">
        <div class="card-footer-left">
          <a href="" class="button small">Add to Cart</a>
        </div>
        <div class="card-footer-right" >
            <button class="icon-button">
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#playlist-add"></use></svg>
              <span class="show-for-sr">add to playlist</span>
            </button>
            <button class="icon-button" data-toggle="slider">
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#info"></use></svg>
              <span class="show-for-sr">more info</span>
            </button>
        </div>
      </div>
      <div class="card-slider">
        <div class="card-slider-header">
          <h4 class="small-heading">A matter of difference: How to foster Inclusion</h4>
        </div>
        <div class="card-details">
          You understand the need to change and some of your leadership team may even want to change. However, as we all know, there is a big gap between desire and action.
    Achieving accelerated growth in a way that is sustainable and scalable requires the right structure, systems, infrastructure (technology) and execution.
    In this session, Sam Dean will go beyond the concepts to provide practical insights on how to reconstruct your offering using the right technology with the right process to become a truly client-centric advice business (and along the way have a lot more fun).
    With real case studies and an action plan to take away, this is one session you can’t miss. 
        </div>
      </div>
    </div>  </li>
  <li class="card-list-item">
    <div class="card t-background-light">
      
      <div class="card-header">
        <div class="card-image">
          <img src="http://fillmurray.com/350/204" alt="">
          <div class="card-image-overlay">
            <div class="card-price">
              <span class="h2"></span>
            </div>
              <span class="label">Delegate Price $20</span>
          </div>
          <div class="card-image-overlay--bottom">
            <div class="card-status">
             <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lock"></use></svg>
            </div>
          </div>
          <time class="card-duration">
            31.24
          </time>
        </div>
      </div>
      <div class="card-body">
        <h2 class="card-heading t-text-main">What is inevitable about the future UTS Library?</h2>
        <h4 class="card-subheading t-text-secondary">Mal Booth, University Librarian, UTS</h4>
        <time class="card-date t-text-secondary">
          9/06/2017
        </time>
        <a href="#" class="card-link"></a>
      </div>
      <div class="card-footer">
        <div class="card-footer-left">
          <a href="" class="button small">Add to Cart</a>
        </div>
        <div class="card-footer-right" >
            <button class="icon-button">
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#playlist-add"></use></svg>
              <span class="show-for-sr">add to playlist</span>
            </button>
            <button class="icon-button" data-toggle="slider">
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#info"></use></svg>
              <span class="show-for-sr">more info</span>
            </button>
        </div>
      </div>
      <div class="card-slider">
        <div class="card-slider-header">
          <h4 class="small-heading">What is inevitable about the future UTS Library?</h4>
        </div>
        <div class="card-details">
          You understand the need to change and some of your leadership team may even want to change. However, as we all know, there is a big gap between desire and action.
    Achieving accelerated growth in a way that is sustainable and scalable requires the right structure, systems, infrastructure (technology) and execution.
    In this session, Sam Dean will go beyond the concepts to provide practical insights on how to reconstruct your offering using the right technology with the right process to become a truly client-centric advice business (and along the way have a lot more fun).
    With real case studies and an action plan to take away, this is one session you can’t miss. 
        </div>
      </div>
    </div>  </li>
  <li class="card-list-item">
    <div class="card t-background-light">
      
      <div class="card-header">
        <div class="card-image">
          <img src="http://fillmurray.com/330/190" alt="">
          <div class="card-image-overlay">
            <div class="card-price">
              <span class="h2"></span>
            </div>
              <span class="label">Delegate Price $20</span>
          </div>
          <div class="card-image-overlay--bottom">
            <div class="card-status">
             <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lock"></use></svg>
            </div>
          </div>
          <time class="card-duration">
            31.24
          </time>
        </div>
      </div>
      <div class="card-body">
        <h2 class="card-heading t-text-main">Panel discussion: What does the future hold for the workforce learning profession?</h2>
        <h4 class="card-subheading t-text-secondary">EduTECH 2017</h4>
        <time class="card-date t-text-secondary">
          9/06/2017
        </time>
        <a href="#" class="card-link"></a>
      </div>
      <div class="card-footer">
        <div class="card-footer-left">
          <a href="" class="button small">Add to Cart</a>
        </div>
        <div class="card-footer-right" >
            <button class="icon-button">
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#playlist-add"></use></svg>
              <span class="show-for-sr">add to playlist</span>
            </button>
            <button class="icon-button" data-toggle="slider">
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#info"></use></svg>
              <span class="show-for-sr">more info</span>
            </button>
        </div>
      </div>
      <div class="card-slider">
        <div class="card-slider-header">
          <h4 class="small-heading">Panel discussion: What does the future hold for the workforce learning profession?</h4>
        </div>
        <div class="card-details">
          You understand the need to change and some of your leadership team may even want to change. However, as we all know, there is a big gap between desire and action.
    Achieving accelerated growth in a way that is sustainable and scalable requires the right structure, systems, infrastructure (technology) and execution.
    In this session, Sam Dean will go beyond the concepts to provide practical insights on how to reconstruct your offering using the right technology with the right process to become a truly client-centric advice business (and along the way have a lot more fun).
    With real case studies and an action plan to take away, this is one session you can’t miss. 
        </div>
      </div>
    </div>  </li>
</ul>
