

<div class="hero-tile">
  <div class="card-image">
    <img src="http://fillmurray.com/301/168" alt="">
    <div class="card-image-overlay--bottom">
      <div class="hero-details">
        <div class="hero-details-image">
          <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#play-outline-large"></use></svg>
        </div>
        <div class="hero-details-text">
          <h3 class="hero-subheading">Anthony England</h3>
          <h1 class="hero-heading t-text-primary">Physical education: under prioritised and our children pay the price</h1>
        </div>
      </div>
    </div>
  </div>
</div>

