

  <ul class="highlight-reel-carousel">
    <li class="highlight-reel-carousel-item">
      <div class="hero-tile">
        <div class="card-image">
          <img src="http://fillmurray.com/301/168" alt="">
          <div class="card-image-overlay--bottom">
            <div class="hero-details">
              <div class="hero-details-image">
                <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#play-outline-large"></use></svg>
              </div>
              <div class="hero-details-text">
                <h3 class="hero-subheading">Anthony England</h3>
                <h1 class="hero-heading t-text-primary">Darkingjung Barker: a lesson in closing the education gap</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="highlight-reel-carousel-item">
      <div class="hero-tile">
        <div class="card-image">
          <img src="http://fillmurray.com/341/197" alt="">
          <div class="card-image-overlay--bottom">
            <div class="hero-details">
              <div class="hero-details-image">
                <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#play-outline-large"></use></svg>
              </div>
              <div class="hero-details-text">
                <h3 class="hero-subheading">Anthony England</h3>
                <h1 class="hero-heading t-text-primary">Clean Water for every child, benefits all</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="highlight-reel-carousel-item">
      <div class="hero-tile">
        <div class="card-image">
          <img src="http://fillmurray.com/300/165" alt="">
          <div class="card-image-overlay--bottom">
            <div class="hero-details">
              <div class="hero-details-image">
                <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#play-outline-large"></use></svg>
              </div>
              <div class="hero-details-text">
                <h3 class="hero-subheading">Anthony England</h3>
                <h1 class="hero-heading t-text-primary">Physical education: under prioritised and our children pay the price</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="highlight-reel-carousel-item">
      <div class="hero-tile">
        <div class="card-image">
          <img src="http://fillmurray.com/301/169" alt="">
          <div class="card-image-overlay--bottom">
            <div class="hero-details">
              <div class="hero-details-image">
                <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#play-outline-large"></use></svg>
              </div>
              <div class="hero-details-text">
                <h3 class="hero-subheading">Anthony England</h3>
                <h1 class="hero-heading t-text-primary">Solving problems that Matter with future-focused learning</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="highlight-reel-carousel-item">
      <div class="hero-tile">
        <div class="card-image">
          <img src="http://fillmurray.com/302/185" alt="">
          <div class="card-image-overlay--bottom">
            <div class="hero-details">
              <div class="hero-details-image">
                <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#play-outline-large"></use></svg>
              </div>
              <div class="hero-details-text">
                <h3 class="hero-subheading">Anthony England</h3>
                <h1 class="hero-heading t-text-primary">A matter of difference: How to foster Inclusion</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="highlight-reel-carousel-item">
      <div class="hero-tile">
        <div class="card-image">
          <img src="http://fillmurray.com/350/204" alt="">
          <div class="card-image-overlay--bottom">
            <div class="hero-details">
              <div class="hero-details-image">
                <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#play-outline-large"></use></svg>
              </div>
              <div class="hero-details-text">
                <h3 class="hero-subheading">Anthony England</h3>
                <h1 class="hero-heading t-text-primary">What is inevitable about the future UTS Library?</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="highlight-reel-carousel-item">
      <div class="hero-tile">
        <div class="card-image">
          <img src="http://fillmurray.com/330/190" alt="">
          <div class="card-image-overlay--bottom">
            <div class="hero-details">
              <div class="hero-details-image">
                <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#play-outline-large"></use></svg>
              </div>
              <div class="hero-details-text">
                <h3 class="hero-subheading">Anthony England</h3>
                <h1 class="hero-heading t-text-primary">Panel discussion: What does the future hold for the workforce learning profession?</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>


