

<div class="thumbnail-card">
  <div class="card-image">
    <img src="http://fillmurray.com/301/168" alt="">
    <div class="card-image-overlay">
      <a href="#" class="card-link"></a>
      <div class="thumbnail-card-tools">
        <button class="icon-button">
          <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#playlist-add"></use></svg>
          <span class="show-for-sr">add to playlist</span>
        </button>
      </div>
    </div>
    <div class="card-image-overlay--bottom">
      <div class="card-details">
        <h3 class="card-heading">Physical education: under prioritised and our children pay the price</h3>
        <h4 class="card-subheading t-text-primary">Anthony England</h4>
      </div>
    </div>
  </div>
</div>
