  <ul class="highlight-reel-grid">
    <li class="highlight-reel-grid-item--feature">
      {{> @hero-card }}
    </li>
    {{#highlight_reel}}
    <li class="highlight-reel-grid-item">
      {{> @thumbnail-card }}
    </li>
    {{/highlight_reel}}
  </ul>

