<div class="hero-tile">
  <div class="card-image">
    <img src="{{ catalogue_item.ThumbnailUrl }}" alt="">
    <div class="card-image-overlay--bottom">
      <div class="hero-details">
        <div class="hero-details-image">
          <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#play-outline-large"></use></svg>
        </div>
        <div class="hero-details-text">
          <h3 class="hero-subheading">{{ catalogue_item.Presenter }}</h3>
          <h1 class="hero-heading t-text-primary">{{ catalogue_item.Title }}</h1>
        </div>
      </div>
    </div>
  </div>
</div>
