  <ul class="highlight-reel-carousel" data-flickity='{ "cellAlign": "center", "contain": true,  "wrapAround": true,  "setGallerySize": false,  "prevNextButtons": false}'>
    {{#highlight_reel}}
    <li class="highlight-reel-carousel-item">
      {{> @hero-card }}
    </li>
     {{/highlight_reel}}
  </ul>

