<header class="t-background-top">
  <div class="main-header">
    <div class="masthead">
      <a href="/">
        <img src="http://register.webcastcloud.com.au/smithink/VideoChannel/smithink-logo-header.png" alt="" class="logo">
      </a>
    </div>
    {{> @main-nav }}
  </div>
</header>

<section class="section t-background-top">
  <div class="content--top">

    player goes here
  </div>
</section>
<section class="section">
  <div class="content">
    <div class="inner-content">
      <div class="inner-content-main">
        <div class="action-bar">
          <div class="action-bar-left">
            <button class="icon-button icon-button--large">
               <svg>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook"></use>
              </svg>
              <span class="icon-button-label">Facebook</span>
            </button>
            <button class="icon-button icon-button--large">
              <svg>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use>
              </svg>
              <span class="icon-button-label">Twitter</span>
            </button>
            <button class="icon-button icon-button--large">
              <svg>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#linkedin"></use>
              </svg>
              <span class="icon-button-label">Linkedin</span>
            </button>
          </div>
          <div class="action-bar-right">
            <button class="icon-button icon-button--large">
              <svg>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#playlist-add"></use>
              </svg>
              <span class="icon-button-label">Add to Playlist</span>
            </button>
          </div>
        </div>

        <h1>Gertrude Street Projection Festival</h1>
        <p>Integrate 2017 - "Before White Night and Vivid there was the Gertrude Street Projection Festival. Starting 10 years
          ago this volunteer-run community public art event has been an innovator and incubator for using projection in ways
          not foreseen by the AV industry.
        </p>
        <p>Presented by the co-founder of the Festival and the 2017 Technical Director; this case study looks at the ways the
          artist and creative communities can collaborate with technicians and projector companies to provide engaging public
          art results."
        </p>
        <p>Panelists - Kym Ortenburg - Centre for Projection Art Ian Corcoran - The Gertrude Projection Associatio</p>

        <h3>Industries</h3>
        <span class="label">Food & Hospitality</span>
        
      </div>
      <aside class="inner-content-sidebar">
        <div class="presenter">
          <img src="http://edtv.webcastcloud.com.au/Mediasite/FileServer/Presenter/9b194ea8a8294495b76bddb198e760782a/p1bj973psp1ptu16rc17qohq3t4rc.png"
            alt="" class="presenter-image">
          <div class="presenter-details">
            <h2 class="presenter-name">Richard Telford</h2>
            <p class="presenter-bio">
              AM, Lifestyle of our Kids (LOOK)
            </p>
          </div>
        </div>
        <div class="advertising">
          <div class="advert">
            <a href="https://www.webcastcloud.com.au" target="_blank">
              <img src="http://register.webcastcloud.com.au/ad/WCCAd_1.png" alt="register">
            </a>

          </div>
        </div>
      </aside>
    </div>


  </div>
</section>