<ul class="sg-colors">
	{{#icons}}
	<li>
		<span class="sg-swatch"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#{{ label }}"></use></svg></span>
		<span class="sg-label">{{ label }}</span>
	</li>
	{{/icons}}
</ul>
