.card-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;    
  will-change: transform;
}

.card-list-item {
  margin: 0;
  flex: 1 1 300px;
  display: flex;
  padding: 0 10px 20px;
  min-width: 250px;
  max-width: 450px;
}


.card-list--large {
  .card-list-item {
    min-width: 350px;
    max-width: 450px;
  }
}

.card-list--small {
  .card-list-item {
    min-width: 200px;
    max-width: 450px;
  }
}

.card-list--single-row {
  .card-list-item {
    flex: 1 0 325px;
    .thumbnail-card {
      width: 325px;
      margin-right: 0.5rem;
    }
  }
  
}

.card-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

  &.card-list--large {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
  &.card-list--small {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  &.card-list--single-row {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    overflow-y: auto;
    scroll-snap-type: mandatory;
    
      /* older spec implementation */
      scroll-snap-destination: 0% 325px;
      scroll-snap-points-x: repeat(325px);
  }
}

@supports (display: grid) {
  .card-list-item.card-list-item {
    padding: 0;
    min-width: initial;
    max-width: initial;
  }
}