.hero-details {
  display: flex;
  align-items: flex-end;
  
  @include breakpoint(medium) {
    padding: $spacing+rem;
  }
  
}

.hero-details-image {
  width: 50px;
  @include breakpoint(medium) {
    width: 80px;
  }
}

.hero-details-text {
  flex: 1;
  margin-left: $spacing+rem;
}

.hero-heading {
  @include fluid-type(1,20,400,1200);
  font-weight: 800;
  line-height: 1.1;
  margin: 0;
  color: $color-primary;
}

.hero-subheading {
  margin-bottom: $spacing/2+rem;
  @include fluid-type(0.8,10,400,1200);
}