$highlight-grid-gap: 0.3rem;

.highlight-reel-grid {
  @include clearfix();
  margin: 0;
  padding-bottom: 1.5rem;
  border-bottom: 0.75rem solid $color-border;
  @include variable(border-bottom-color, --color-border, $color-border);
}

.highlight-reel-grid-item, .highlight-reel-grid-item--feature {
  list-style: none;
  margin: 0;
  float: left;
  width: 100%;
  padding-bottom: $highlight-grid-gap
}

.highlight-reel-grid-item {
  
  @media screen and (min-width: 45em) {
    width: 32.85%;
    width: calc(33.33% - #{$highlight-grid-gap});
    margin-right: $highlight-grid-gap;

    &:nth-child(4n+4) {
      margin-right: 0;
      float: right;
    }
  }

  @media screen and (min-width: 70em) {
    width: calc(25% - #{$highlight-grid-gap});
    margin-right: 0;
    
    &:nth-child(n+5) {
      margin-right: $highlight-grid-gap;
    }
    
    &:nth-child(4n+4) {
      float: left;
      margin-right: 0rem;
    }
  }
 
  @media screen and (min-width: 90em) {
    margin-right: $highlight-grid-gap;
    &:nth-child(4n+4) {
      margin-right: $highlight-grid-gap;
    }
    &:nth-child(2n+3) {
      margin-right: 0;
    }
    &:nth-child(4n+7) {
      margin-right: $highlight-grid-gap;
    }
  }

}



.highlight-reel-grid-item--feature {
  @media screen and (min-width: 45em) {
    width: 100%;
  }
  @media screen and (min-width: 70em) {
    width: 75%;
    margin-right: $highlight-grid-gap;
  }

  @media screen and (min-width: 90em) {
    width: 49.9%;
  }
 
}


@supports (display: grid) {
  .highlight-reel-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    grid-gap: $highlight-grid-gap $highlight-grid-gap*2;
    @media screen and (min-width: 100em) {
      grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    }
  }
  
  .highlight-reel-grid-item, .highlight-reel-grid-item--feature {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .highlight-reel-grid-item--feature {
    @media screen and (min-width: 32.5em) {
      grid-row-start: span 2; 
      grid-column-start: span 2; 
    }
    @media screen and (min-width: 48.75em) {
      grid-row-start: span 3; 
      grid-column-start: span 3; 
    }
  }
}


.highlight-reel-carousel {
  height: 100%;
  padding-bottom: 50.625%;
  margin: 0;

  @media screen and (min-width: 45em) {
    padding-bottom: 39.375%;
  }

  @media screen and (min-width: 60em) {
    padding-bottom: 33.75%;
  }

  .flickity-viewport {
    position: absolute;
    width: 100%;
  }
}

.highlight-reel-carousel-item {
  list-style: none;
  margin: 0;
  padding:0.15rem;
  width: 90vw;
  height: 100%;
  min-height: 100%;

  @media screen and (min-width: 45em) {
    width: 70vw;
  }

  @media screen and (min-width: 60em) {
    width: 60vw;
  }


  &:not(.is-selected) {

    .hero-tile {
      &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.8);
      }
    }
  }
  
}


