.highlight-reel-grid {
  @include clearfix();

  padding-bottom: 1.5rem;
  border-bottom: 0.75rem solid $color-border;
}

.highlight-reel-grid-item, .highlight-reel-grid-item--feature {
  list-style: none;
  margin: 0;
  float: left;
  width: 100%;
  padding-bottom: 0.3rem;
}

.highlight-reel-grid-item {
  
  @media screen and (min-width: 45em) {
    width: 32.85%;
    width: calc(33.33% - 0.2rem);
    margin-right: 0.3rem;

    &:nth-child(4n+4) {
      margin-right: 0;
      float: right;
    }
  }

  @media screen and (min-width: 70em) {
    width: calc(25% - 0.3rem);
    margin-right: 0;
    
    &:nth-child(n+5) {
      margin-right: 0.3rem;
    }
    
    &:nth-child(4n+4) {
      float: left;
      margin-right: 0rem;
    }
  }
 
  @media screen and (min-width: 90em) {
    margin-right: 0.3rem;
    &:nth-child(4n+4) {
      margin-right: 0.3rem;
    }
    &:nth-child(2n+3) {
      margin-right: 0;
    }
    &:nth-child(4n+7) {
      margin-right: 0.3rem;
    }
  }

}



.highlight-reel-grid-item--feature {
  @media screen and (min-width: 45em) {
    width: 100%;
  }
  @media screen and (min-width: 70em) {
    width: 75%;
    margin-right: 0.3rem;
  }

  @media screen and (min-width: 90em) {
    width: 49.9%;
  }
 
}


@supports (display: grid) {
  .highlight-reel-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 0.3rem 0.6rem;
    @media screen and (min-width: 100em) {
      grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    }
  
    padding-bottom: 1.5rem;
    border-bottom: 0.75rem solid $color-border;
  }
  
  .highlight-reel-grid-item, .highlight-reel-grid-item--feature {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .highlight-reel-grid-item--feature {
    @media screen and (min-width: 38em) {
      grid-row: 1 / span 3; 
      grid-column: 1 / span 3; 
    }
  }
}
