.nav-main-panel {

  @media screen and (max-width: 40em) {
    background: $color-primary;
    box-shadow: 0 4px 4px rgba(0,0,0,0.3);
    position: absolute;
    height: 100vh;
    right: 0;
    top: 0;
    min-width: 300px;
    z-index: 1000;
    transform: translateX(100%);

    &.is-open {
      transform: translateX(0);
      transition: transform .3s cubic-bezier(.41,.05,.66,.91);
    }
  }
 
}

.nav-main-panel-header {
  padding: 1rem;
  @media screen and (min-width: 40em) {
    display: none;
  }
}

.nav-main-toggle {
  @media screen and (min-width: 40em) {
    display: none;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $color-text;
  font-weight: bold;
  font-size: 0.75rem;
  padding: 0.5rem;

  &:hover {
    color: $color-white;
  }
}

.menu-icon {
  display:block;
  width: 2rem;
  height: 2rem;
  margin-bottom: 0.1rem;
}

.nav-main-close.icon-button {
  color: $color-white;

  &:hover {
    color: $color-text;
  }
}

.nav-main-list {
  flex: 1;
  flex-basis: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  >li {
    margin: 0;
    padding: 0;
    
  }

  @media screen and (min-width: 40em) {
    flex: 1;

    >li {
      display: inline-block;
    }
  }
}

.nav-main-item {
  display: block;
  padding: 0.5rem 1rem;
  color: $color-text;
  text-decoration: none;
  font-weight: bold;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    background: $color-primary;
    height: 4px;
    left: 1rem;
    right: 1rem;
    bottom:0.25rem;
    transform: scale(0);
    transition: 0.3s transform ease;
  }

  &:hover:after {
    transform: scale(1);
  }
} 