.presenter {
  display: flex;
  margin-top: 2rem;
  @include breakpoint(medium) {
    display: block;
    margin: 0;
  }
}
.presenter-image {
  max-width: 10rem;
  height: 100%;
  margin-right: 1rem;
  @include breakpoint(medium) {
    max-width: initial;
  }
}

.presenter-details {
  flex:1;
}

.presenter-name {
  margin: 1rem 0 0;
}

.presenter-bio {
  font-weight: 600;
  margin: 0;
  @include variable(color, --color-text-light, $color-text-light);
}