

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="../../css/styleguide.css">
    <link media="all" rel="stylesheet" href="../../css/style.css">
    <title>Preview Layout</title>
</head>
<body>

<a href="#" class="success button">success button</a>



<script
  src="https://code.jquery.com/jquery-3.2.1.slim.js"
  integrity="sha256-tA8y0XqiwnpwmOIl3SGAcFl2RvxHjA8qp0+1uCGmRmg="
  crossorigin="anonymous"></script>
  <script>
    $('[data-toggle]').click(function() {
      console.log('open', $(this).closest('.card'));
      $(this).closest('.card').find('.card-slider').toggleClass('is-open');
    })
    $('.card-slider').click(function() {
      $(this).toggleClass('is-open');
    })
    $('.nav-main-toggle').click(function(){
         $(this).siblings('.nav-main-panel').toggleClass('is-open');
    })
     $('.nav-main-close').click(function(){
         $(this).parents('.nav-main-panel').toggleClass('is-open');
    })

  </script>
</body>
</html>
