

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="../../css/styleguide.css">
    <link media="all" rel="stylesheet" href="../../css/style.css">
    <title>Preview Layout</title>
</head>
<body>

<header class="t-background-top">
  <div class="main-header">
    <div class="masthead">
      <a href="/"><img src="http://register.webcastcloud.com.au/smithink/VideoChannel/smithink-logo-header.png" alt="" class="logo"></a>
    </div>
    <nav>
      <ul class="nav-main">
        <li><a class="nav-main-item" href="">help</a></li>
        <li><a class="nav-main-item" href="">cart</a></li>
        <li><a class="nav-main-item" href="">register</a></li>
        <li><a class="nav-main-item" href="">log in</a></li>
      </ul>
    </nav>  </div>
</header>

</body>
</html>
